#slider-wrap{ 
	margin-top: 4%;
	width: 70%;;
	margin-left: 20%; 
	}
#slider{ 
	width: 90%;;
	height:230pt;
	overflow: hidden;
	border:#eee solid 10px;
	position:relative;}
.slide{ 
	width:100%;
	height:100%;
	}
.sli-links{  
	margin-top:1%;
	text-align:center;}
.sli-links .control-slide{
	margin:0.5%;
	display:inline-block;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(images/radioBg.png) center bottom no-repeat;}
.sli-links .control-slide:hover{
	cursor:pointer;
	background-position:center center;}
.sli-links .control-slide.active{
	background-position:center top;}
#prewbutton, #nextbutton{ 
	display:block;
	width:1.5%;
	height:100%;
	position:absolute;
	top:0;
	overflow:hidden;
	text-indent:-999px;
	background:url(images/arrowBg.png) left center no-repeat;
	opacity:0.8;
	z-index:3;
	outline:none !important;}
#prewbutton{left:1%;}
#nextbutton{
	right:1%;
	background:url(images/arrowBg.png) right center no-repeat;}
#prewbutton:hover, #nextbutton:hover{
	opacity:1;}
